.body {font-family: 'Times New Roman', Times, serif ; background-image:linear-gradient(to right,rgb(14, 8, 77),rgb(14, 8, 77), rgb(121, 11, 11), rgb(196, 196, 12)); }

.container {  background-image:linear-gradient(to right,rgb(14, 8, 77),rgb(14, 8, 77), rgb(121, 11, 11), rgb(196, 196, 12));}
.logo { height: 90%; width: 40%;}
.Navigation_Text {color:rgb(255, 255, 255)}

.cartpage{margin: 80px 180px;}

table{width: 100%;border-collapse: collapse;}
.cartinfo{display: flex;flex-wrap: wrap;}
th{text-align: left;padding: 5px;color: white;background: #ff523b;font-weight: normal;}
td{padding: 10px 5px;}
td input{width: 40px;height: 30px;padding: 5px;}
td a{color: #ff523b;font-size: 12px;}
td img{width: 80px;height: 80px;margin-right: 10px;}
.totalprice{display: flex;justify-content: flex-end;}
.totalprice table{ border-top: 3px solid #ff523b;width: 100%;max-width: 400px;}
td:last-child{ text-align: right;}
th:last-child{ text-align: right;}